Deliver_CRM_Droid/Web References/WebService/delivercrmwebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDeliverMobile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_mobile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliverMobileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeliverMobileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetConnectionIsAlive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_time" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_connectionType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_isAlive" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetConnectionIsAliveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetConnectionIsAliveResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportInWH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportInWHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportInWHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportWH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportWHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportWHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportOutWH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_reportAbsence" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportOutWHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportOutWHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportSickWH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportSickWHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportSickWHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportDayOffWH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportDayOffWHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportDayOffWHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReportInWH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_reportIn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_reportAbsence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_lng" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_lat" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReportInWHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetReportInWHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReportOutWH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_reportOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_reportAbsence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_lng" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_lat" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReportOutWHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetReportOutWHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReportSickWH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_reportIn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_reportOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_reportAbsence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_lng" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_lat" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReportSickWHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetReportSickWHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReportDayOffWH">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_reportIn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_reportOut" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_reportAbsence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_lng" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_lat" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReportDayOffWHResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetReportDayOffWHResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDeliverMobileSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeliverMobile" />
  </wsdl:message>
  <wsdl:message name="GetDeliverMobileSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliverMobileResponse" />
  </wsdl:message>
  <wsdl:message name="SetConnectionIsAliveSoapIn">
    <wsdl:part name="parameters" element="tns:SetConnectionIsAlive" />
  </wsdl:message>
  <wsdl:message name="SetConnectionIsAliveSoapOut">
    <wsdl:part name="parameters" element="tns:SetConnectionIsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportInWHSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportInWH" />
  </wsdl:message>
  <wsdl:message name="GetReportInWHSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportInWHResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportWHSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportWH" />
  </wsdl:message>
  <wsdl:message name="GetReportWHSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportWHResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportOutWHSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportOutWH" />
  </wsdl:message>
  <wsdl:message name="GetReportOutWHSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportOutWHResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportSickWHSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportSickWH" />
  </wsdl:message>
  <wsdl:message name="GetReportSickWHSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportSickWHResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportDayOffWHSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportDayOffWH" />
  </wsdl:message>
  <wsdl:message name="GetReportDayOffWHSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportDayOffWHResponse" />
  </wsdl:message>
  <wsdl:message name="SetReportInWHSoapIn">
    <wsdl:part name="parameters" element="tns:SetReportInWH" />
  </wsdl:message>
  <wsdl:message name="SetReportInWHSoapOut">
    <wsdl:part name="parameters" element="tns:SetReportInWHResponse" />
  </wsdl:message>
  <wsdl:message name="SetReportOutWHSoapIn">
    <wsdl:part name="parameters" element="tns:SetReportOutWH" />
  </wsdl:message>
  <wsdl:message name="SetReportOutWHSoapOut">
    <wsdl:part name="parameters" element="tns:SetReportOutWHResponse" />
  </wsdl:message>
  <wsdl:message name="SetReportSickWHSoapIn">
    <wsdl:part name="parameters" element="tns:SetReportSickWH" />
  </wsdl:message>
  <wsdl:message name="SetReportSickWHSoapOut">
    <wsdl:part name="parameters" element="tns:SetReportSickWHResponse" />
  </wsdl:message>
  <wsdl:message name="SetReportDayOffWHSoapIn">
    <wsdl:part name="parameters" element="tns:SetReportDayOffWH" />
  </wsdl:message>
  <wsdl:message name="SetReportDayOffWHSoapOut">
    <wsdl:part name="parameters" element="tns:SetReportDayOffWHResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliverMobileHttpGetIn">
    <wsdl:part name="_mobile" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeliverMobileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetConnectionIsAliveHttpGetIn">
    <wsdl:part name="_date" type="s:string" />
    <wsdl:part name="_time" type="s:string" />
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_connectionType" type="s:string" />
    <wsdl:part name="_isAlive" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetConnectionIsAliveHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetReportInWHHttpGetIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReportInWHHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetReportWHHttpGetIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReportWHHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetReportOutWHHttpGetIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
    <wsdl:part name="_reportAbsence" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReportOutWHHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetReportSickWHHttpGetIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReportSickWHHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetReportDayOffWHHttpGetIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReportDayOffWHHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetReportInWHHttpGetIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
    <wsdl:part name="_reportIn" type="s:string" />
    <wsdl:part name="_reportAbsence" type="s:string" />
    <wsdl:part name="_lng" type="s:string" />
    <wsdl:part name="_lat" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetReportInWHHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetReportOutWHHttpGetIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
    <wsdl:part name="_reportOut" type="s:string" />
    <wsdl:part name="_reportAbsence" type="s:string" />
    <wsdl:part name="_lng" type="s:string" />
    <wsdl:part name="_lat" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetReportOutWHHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetReportSickWHHttpGetIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
    <wsdl:part name="_reportIn" type="s:string" />
    <wsdl:part name="_reportOut" type="s:string" />
    <wsdl:part name="_reportAbsence" type="s:string" />
    <wsdl:part name="_lng" type="s:string" />
    <wsdl:part name="_lat" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetReportSickWHHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetReportDayOffWHHttpGetIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
    <wsdl:part name="_reportIn" type="s:string" />
    <wsdl:part name="_reportOut" type="s:string" />
    <wsdl:part name="_reportAbsence" type="s:string" />
    <wsdl:part name="_lng" type="s:string" />
    <wsdl:part name="_lat" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetReportDayOffWHHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDeliverMobileHttpPostIn">
    <wsdl:part name="_mobile" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDeliverMobileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetConnectionIsAliveHttpPostIn">
    <wsdl:part name="_date" type="s:string" />
    <wsdl:part name="_time" type="s:string" />
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_connectionType" type="s:string" />
    <wsdl:part name="_isAlive" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetConnectionIsAliveHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetReportInWHHttpPostIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReportInWHHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetReportWHHttpPostIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReportWHHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetReportOutWHHttpPostIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
    <wsdl:part name="_reportAbsence" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReportOutWHHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetReportSickWHHttpPostIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReportSickWHHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetReportDayOffWHHttpPostIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetReportDayOffWHHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetReportInWHHttpPostIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
    <wsdl:part name="_reportIn" type="s:string" />
    <wsdl:part name="_reportAbsence" type="s:string" />
    <wsdl:part name="_lng" type="s:string" />
    <wsdl:part name="_lat" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetReportInWHHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetReportOutWHHttpPostIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
    <wsdl:part name="_reportOut" type="s:string" />
    <wsdl:part name="_reportAbsence" type="s:string" />
    <wsdl:part name="_lng" type="s:string" />
    <wsdl:part name="_lat" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetReportOutWHHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetReportSickWHHttpPostIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
    <wsdl:part name="_reportIn" type="s:string" />
    <wsdl:part name="_reportOut" type="s:string" />
    <wsdl:part name="_reportAbsence" type="s:string" />
    <wsdl:part name="_lng" type="s:string" />
    <wsdl:part name="_lat" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetReportSickWHHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SetReportDayOffWHHttpPostIn">
    <wsdl:part name="_mobile" type="s:string" />
    <wsdl:part name="_date" type="s:string" />
    <wsdl:part name="_reportIn" type="s:string" />
    <wsdl:part name="_reportOut" type="s:string" />
    <wsdl:part name="_reportAbsence" type="s:string" />
    <wsdl:part name="_lng" type="s:string" />
    <wsdl:part name="_lat" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetReportDayOffWHHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="DeliverCRMWebServiceSoap">
    <wsdl:operation name="GetDeliverMobile">
      <wsdl:input message="tns:GetDeliverMobileSoapIn" />
      <wsdl:output message="tns:GetDeliverMobileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetConnectionIsAlive">
      <wsdl:input message="tns:SetConnectionIsAliveSoapIn" />
      <wsdl:output message="tns:SetConnectionIsAliveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportInWH">
      <wsdl:input message="tns:GetReportInWHSoapIn" />
      <wsdl:output message="tns:GetReportInWHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportWH">
      <wsdl:input message="tns:GetReportWHSoapIn" />
      <wsdl:output message="tns:GetReportWHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportOutWH">
      <wsdl:input message="tns:GetReportOutWHSoapIn" />
      <wsdl:output message="tns:GetReportOutWHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportSickWH">
      <wsdl:input message="tns:GetReportSickWHSoapIn" />
      <wsdl:output message="tns:GetReportSickWHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportDayOffWH">
      <wsdl:input message="tns:GetReportDayOffWHSoapIn" />
      <wsdl:output message="tns:GetReportDayOffWHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReportInWH">
      <wsdl:input message="tns:SetReportInWHSoapIn" />
      <wsdl:output message="tns:SetReportInWHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReportOutWH">
      <wsdl:input message="tns:SetReportOutWHSoapIn" />
      <wsdl:output message="tns:SetReportOutWHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReportSickWH">
      <wsdl:input message="tns:SetReportSickWHSoapIn" />
      <wsdl:output message="tns:SetReportSickWHSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReportDayOffWH">
      <wsdl:input message="tns:SetReportDayOffWHSoapIn" />
      <wsdl:output message="tns:SetReportDayOffWHSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DeliverCRMWebServiceHttpGet">
    <wsdl:operation name="GetDeliverMobile">
      <wsdl:input message="tns:GetDeliverMobileHttpGetIn" />
      <wsdl:output message="tns:GetDeliverMobileHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetConnectionIsAlive">
      <wsdl:input message="tns:SetConnectionIsAliveHttpGetIn" />
      <wsdl:output message="tns:SetConnectionIsAliveHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportInWH">
      <wsdl:input message="tns:GetReportInWHHttpGetIn" />
      <wsdl:output message="tns:GetReportInWHHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportWH">
      <wsdl:input message="tns:GetReportWHHttpGetIn" />
      <wsdl:output message="tns:GetReportWHHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportOutWH">
      <wsdl:input message="tns:GetReportOutWHHttpGetIn" />
      <wsdl:output message="tns:GetReportOutWHHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportSickWH">
      <wsdl:input message="tns:GetReportSickWHHttpGetIn" />
      <wsdl:output message="tns:GetReportSickWHHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportDayOffWH">
      <wsdl:input message="tns:GetReportDayOffWHHttpGetIn" />
      <wsdl:output message="tns:GetReportDayOffWHHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReportInWH">
      <wsdl:input message="tns:SetReportInWHHttpGetIn" />
      <wsdl:output message="tns:SetReportInWHHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReportOutWH">
      <wsdl:input message="tns:SetReportOutWHHttpGetIn" />
      <wsdl:output message="tns:SetReportOutWHHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReportSickWH">
      <wsdl:input message="tns:SetReportSickWHHttpGetIn" />
      <wsdl:output message="tns:SetReportSickWHHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReportDayOffWH">
      <wsdl:input message="tns:SetReportDayOffWHHttpGetIn" />
      <wsdl:output message="tns:SetReportDayOffWHHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DeliverCRMWebServiceHttpPost">
    <wsdl:operation name="GetDeliverMobile">
      <wsdl:input message="tns:GetDeliverMobileHttpPostIn" />
      <wsdl:output message="tns:GetDeliverMobileHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetConnectionIsAlive">
      <wsdl:input message="tns:SetConnectionIsAliveHttpPostIn" />
      <wsdl:output message="tns:SetConnectionIsAliveHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportInWH">
      <wsdl:input message="tns:GetReportInWHHttpPostIn" />
      <wsdl:output message="tns:GetReportInWHHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportWH">
      <wsdl:input message="tns:GetReportWHHttpPostIn" />
      <wsdl:output message="tns:GetReportWHHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportOutWH">
      <wsdl:input message="tns:GetReportOutWHHttpPostIn" />
      <wsdl:output message="tns:GetReportOutWHHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportSickWH">
      <wsdl:input message="tns:GetReportSickWHHttpPostIn" />
      <wsdl:output message="tns:GetReportSickWHHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportDayOffWH">
      <wsdl:input message="tns:GetReportDayOffWHHttpPostIn" />
      <wsdl:output message="tns:GetReportDayOffWHHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReportInWH">
      <wsdl:input message="tns:SetReportInWHHttpPostIn" />
      <wsdl:output message="tns:SetReportInWHHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReportOutWH">
      <wsdl:input message="tns:SetReportOutWHHttpPostIn" />
      <wsdl:output message="tns:SetReportOutWHHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReportSickWH">
      <wsdl:input message="tns:SetReportSickWHHttpPostIn" />
      <wsdl:output message="tns:SetReportSickWHHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReportDayOffWH">
      <wsdl:input message="tns:SetReportDayOffWHHttpPostIn" />
      <wsdl:output message="tns:SetReportDayOffWHHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeliverCRMWebServiceSoap" type="tns:DeliverCRMWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDeliverMobile">
      <soap:operation soapAction="http://tempuri.org/GetDeliverMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetConnectionIsAlive">
      <soap:operation soapAction="http://tempuri.org/SetConnectionIsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportInWH">
      <soap:operation soapAction="http://tempuri.org/GetReportInWH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportWH">
      <soap:operation soapAction="http://tempuri.org/GetReportWH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportOutWH">
      <soap:operation soapAction="http://tempuri.org/GetReportOutWH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportSickWH">
      <soap:operation soapAction="http://tempuri.org/GetReportSickWH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportDayOffWH">
      <soap:operation soapAction="http://tempuri.org/GetReportDayOffWH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReportInWH">
      <soap:operation soapAction="http://tempuri.org/SetReportInWH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReportOutWH">
      <soap:operation soapAction="http://tempuri.org/SetReportOutWH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReportSickWH">
      <soap:operation soapAction="http://tempuri.org/SetReportSickWH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReportDayOffWH">
      <soap:operation soapAction="http://tempuri.org/SetReportDayOffWH" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DeliverCRMWebServiceSoap12" type="tns:DeliverCRMWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDeliverMobile">
      <soap12:operation soapAction="http://tempuri.org/GetDeliverMobile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetConnectionIsAlive">
      <soap12:operation soapAction="http://tempuri.org/SetConnectionIsAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportInWH">
      <soap12:operation soapAction="http://tempuri.org/GetReportInWH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportWH">
      <soap12:operation soapAction="http://tempuri.org/GetReportWH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportOutWH">
      <soap12:operation soapAction="http://tempuri.org/GetReportOutWH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportSickWH">
      <soap12:operation soapAction="http://tempuri.org/GetReportSickWH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportDayOffWH">
      <soap12:operation soapAction="http://tempuri.org/GetReportDayOffWH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReportInWH">
      <soap12:operation soapAction="http://tempuri.org/SetReportInWH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReportOutWH">
      <soap12:operation soapAction="http://tempuri.org/SetReportOutWH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReportSickWH">
      <soap12:operation soapAction="http://tempuri.org/SetReportSickWH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReportDayOffWH">
      <soap12:operation soapAction="http://tempuri.org/SetReportDayOffWH" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DeliverCRMWebServiceHttpGet" type="tns:DeliverCRMWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetDeliverMobile">
      <http:operation location="/GetDeliverMobile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetConnectionIsAlive">
      <http:operation location="/SetConnectionIsAlive" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportInWH">
      <http:operation location="/GetReportInWH" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportWH">
      <http:operation location="/GetReportWH" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportOutWH">
      <http:operation location="/GetReportOutWH" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportSickWH">
      <http:operation location="/GetReportSickWH" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportDayOffWH">
      <http:operation location="/GetReportDayOffWH" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReportInWH">
      <http:operation location="/SetReportInWH" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReportOutWH">
      <http:operation location="/SetReportOutWH" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReportSickWH">
      <http:operation location="/SetReportSickWH" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReportDayOffWH">
      <http:operation location="/SetReportDayOffWH" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DeliverCRMWebServiceHttpPost" type="tns:DeliverCRMWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetDeliverMobile">
      <http:operation location="/GetDeliverMobile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetConnectionIsAlive">
      <http:operation location="/SetConnectionIsAlive" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportInWH">
      <http:operation location="/GetReportInWH" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportWH">
      <http:operation location="/GetReportWH" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportOutWH">
      <http:operation location="/GetReportOutWH" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportSickWH">
      <http:operation location="/GetReportSickWH" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportDayOffWH">
      <http:operation location="/GetReportDayOffWH" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReportInWH">
      <http:operation location="/SetReportInWH" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReportOutWH">
      <http:operation location="/SetReportOutWH" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReportSickWH">
      <http:operation location="/SetReportSickWH" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReportDayOffWH">
      <http:operation location="/SetReportDayOffWH" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeliverCRMWebService">
    <wsdl:port name="DeliverCRMWebServiceSoap" binding="tns:DeliverCRMWebServiceSoap">
      <soap:address location="http://soft.solveit.co.il:8081/delivercrmwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="DeliverCRMWebServiceSoap12" binding="tns:DeliverCRMWebServiceSoap12">
      <soap12:address location="http://soft.solveit.co.il:8081/delivercrmwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="DeliverCRMWebServiceHttpGet" binding="tns:DeliverCRMWebServiceHttpGet">
      <http:address location="http://soft.solveit.co.il:8081/delivercrmwebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="DeliverCRMWebServiceHttpPost" binding="tns:DeliverCRMWebServiceHttpPost">
      <http:address location="http://soft.solveit.co.il:8081/delivercrmwebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>